<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- NFC Permissions for EMV card reading -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Required for NFC functionality -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".NfSp00fApplication"
        android:allowBackup="true"
        android:icon="@drawable/nfspoof_logo"
        android:label="nf-sp00f"
        android:supportsRtl="true">

        <!-- Splash Activity as Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- HCE Service for EMV emulation -->
        <service
            android:name=".emulation.EnhancedHceService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>
